:root {
    --sidebar: 250px;
    --bg-main: #204a87;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e0e0e0;
}

/* sidebar */
#sidebar {
    width: var(--sidebar);
    background: var(--bg-main);
    transition: ease-in-out .2s margin-left;
}



#sidebar a.nav-link {
    color: rgba(255, 255, 255, 0.5);
}

#sidebar a.nav-link:hover,
#sidebar a.nav-link.active {
    background: linear-gradient(145deg, #1d437a, #224f90);
    box-shadow: 5px 5px 20px #183867,
        -5px -5px 20px #285ca7;
    color: rgba(255, 255, 255, 0.75);
}

/* end sidebar */
#content {
    width: calc(100% - var(--sidebar));
    transition: width ease-in-out .2s;
}

.card-poly {
    background: #e0e0e0;
    box-shadow: 5px 5px 25px #bebebe,
        -5px -5px 25px #ffffff
}

footer{
    margin-left: var(--sidebar);
}
@media screen and (max-width:992px) {
    #sidebar {
        margin-left: calc(0px - var(--sidebar));
        transition: ease-in-out .2s margin-left;
        position: absolute;top: 0;
        left: 0;
        height: 100vh;
        z-index: 100;

    }

    #content {
        width: 100%;
        transition: none;
    }

    footer{
        margin-left: 0;
    }

    .show-menu #sidebar {
        margin-left: 0;
        z-index: 100;

    }

    .blur {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 1;
        top: 0;
    }
}